.wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 16px;
    cursor: pointer;
    background-color: var(--white);
    border: 2px solid transparent;
    user-select: none;

    +.wrapper {
        margin-left: 8px;
    }

    &.disable {
        pointer-events: none;
        opacity: .5;
    }
}

.icon+.title,
.title+.icon {
    margin-left: 6px;
}

.icon {
    width: 20px;
    display: inline-block;
    text-align: center;
}


// Button Types
.rounded {
    border-radius: 9999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border: 1.5px solid rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--white);
    background-color: var(--green);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), var(--green);
    }
}


.outline {
    color: var(--white);
    border-color: var(--green);
    background-color: transparent;

    &:hover {
        border-color: currentColor;
        opacity: 0.8;
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}


// Button Sizes

.small {
    padding: 4px 16px;
    min-width: 88px;
}

.large {
    min-width: 100%;
    padding: 14px 16px;
}