.container {
    // border: 2px solid red;
    height: 100%;
    width: 100%;
}


.Advertise {
    margin-top: 4rem;
    position: relative;
    width: fit-content;
    height: 72px;
    background-color: #404040;
    border-radius: 4rem;
    padding: 20px 13px;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}

.Advertise>span {
    z-index: 3;
}


.animation {
    position: absolute;
    background-color: var(--green);
    width: 5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 2;
}


.title {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--white);
    text-overflow: inherit;
}

.title>div:nth-of-type(3) {
    font-size: 1rem;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%;
}

.actions {
    margin-top: 2rem;
    color: var(--white);
    display: flex;
    gap: 2rem;

}

.actions>div {
    display: flex;
    flex-direction: column;
}


.actions div span:nth-child(2) {
    color: var(--white);
    opacity: 0.60;
    font-size: 1rem;
}

.extend {
    color: var(--green);
    font-size: 1rem;
    margin-left: 1rem;
}

.btn {
    margin-top: 2rem;
}